{% extends "base.html" %}

{% block title %}Recipe APP{% endblock %}

{% block content %}
  
<div class="container py-5">
    <div class="d-flex flex-wrap gap-5">
      {%for meal in meals%}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{meal.strMealThumb}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{meal.strMeal}}</h5>
            <p class="card-text">{{meal.description | truncatechars:80}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      
      {% endfor %}
    </div>
    </div>
  </div>


{% endblock %}


